/* 중첩 문법을 일반 CSS로 변환 */

:root {
  /* 기본 테마 색상 */
  --fg: var(--gray12);
  --bg: var(--white);
  --text-color: var(--black);
  --alpha: hsla(0, 0%, 100%, 0.9);
  --shadow-color: hsla(0, 6%, 6%, 0.05);
  --indigo: #60a5fa;

  /* 기본 색상 */
  --white: #fff;
  --black: #000000;

  /* 그레이 스케일 */
  --gray1: #ececec;
  --gray2: #f8f8f8;
  --gray3: #ffbf00;
  --gray4: #ededed;
  --gray5: #d6d6d6;
  --gray6: #dbdbdb;
  --gray7: #d1d5db;
  --gray8: #f8f9fa;
  --gray9: #a3a3a3;
  --gray10: #6f6f6f;
  --gray11: #171717;
  --gray12: rgb(49, 49, 49);

  --black1: #040f0f;
  --black2: rgba(0, 0, 0, 0.071);
  --black3: #1a1a1a;

  --code-plaintext-color: rgb(255 103 0);
  --color-tx: var(--text-color);
}

.dark {
  /* 기본 테마 색상 */
  --fg: var(--gray12);
  --bg: var(--black);
  --text-color: var(--white);
  --alpha: hsla(0, 0%, 100%, 0.9);
  --shadow-color: hsla(0, 6%, 6%, 0.05);

  /* 기본 색상 */
  --white: #fff;

  /* 그레이 스케일 */
  --gray1: #ececec;
  --gray2: #f8f8f8;
  --gray3: #ffbf00;
  --gray4: #131313;
  --gray5: #535353;
  --gray6: #dbdbdb;
  --gray7: #d1d5db;
  --gray8: #f8f9fa;
  --gray9: #a3a3a3;
  --gray10: #6f6f6f;
  --gray11: #171717;

  --black1: #040f0f;
}

/* :root와 .dark가 동시에 적용될 때 .prose *에 스타일 적용 */
:root.dark .prose * {
  color: var(--tw-prose-invert-headings);
}

/* code[data-language="plaintext"], code[data-language="plaintext"] span에 스타일 적용 */
.prose code[data-language="plaintext"]:not(.not-prose):not(.not-prose *),
.prose code[data-language="plaintext"] span:not(.not-prose):not(.not-prose *) {
  color: var(--code-plaintext-color) !important;
}

/* strong에 스타일 적용 */
.prose strong:not(.not-prose):not(.not-prose *) {
  color: var(--code-plaintext-color) !important;
  font-size: 1.2rem;
}

/* code의 before, after 가상요소 숨김 */
.prose code:not(.not-prose):not(.not-prose *)::after,
.prose code:not(.not-prose):not(.not-prose *)::before {
  display: none;
}
